<h2>the job posting page</h2>
<form>
  <div>
    <label for="job-title">job title</label>
    <input name="title" placeholder="e.g. software engineer" id="job-title" />
  </div>
  <div>
    <label for="location">job location</label>
    <input name="location" placeholder="e.g. Sunnyvale CA" id="location" />
  </div>
  <div><button {{action "completeJobPosting"}}>continue</button></div>
</form>